# Shared Root Variables
COMPOSE_PROJECT_NAME=sars_project

# Note: Please check `backend/.env.example`, `frontend/.env.example`, 
# and `kiosk/.env.example` for specific application environment variables.